/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.text-field{
	-fx-border-color: #fcb31f;
	-fx-border-width: 2.0px;
}

.button{
	-fx-background-color: #fcb31f;
	-fx-border-color: #1f275a;
	-fx-font-weight : bold;
}

.menu-button{
	-fx-background-color: #fcb31f;
	-fx-border-color: #1f275a;
	-fx-border-width: 1.0px;
	-fx-font-weight : bold;
	-fx-pref-height: 25.0px;
}

.menu-button:hover {
    -fx-border-color: #faa805;
    -fx-text-fill : #faa805;
    -fx-background-color: white;
    -fx-scale-y: 1.005;
    -fx-scale-x: 1.005;
}

.menu-button .menu-item:hover {
    -fx-text-fill : #faa805;
    -fx-background-color: #faa805;
    -fx-scale-y: 1.005;
    -fx-scale-x: 1.005;
}

.button:pressed:hover {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.button:hover {
    -fx-border-color: #faa805;
    -fx-text-fill : #faa805;
    -fx-background-color: white;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
}

.simple_button{
	-fx-pref-height: 20.0px;
	-fx-pref-width: 100.0px;
	-fx-font-size : 12.0px;
}

.long_button{
	-fx-background-color: #fcb31f;
	-fx-border-color: #1f275a;
	-fx-pref-height: 8.0px;
	-fx-font-weight : bold;
	-fx-font-size : 11.0px;
}

.big_button{
	-fx-background-color: #fcb31f;
	-fx-border-color: #1f275a;
	-fx-pref-height: 30.0px;
	-fx-pref-width: 150.0px;
	-fx-font-weight : bold;
	-fx-font-size : 15.0px;
	
}

.regular-field{
	-fx-pref-height: 25.0px;
	-fx-pref-width: 200.0px;
}

.flexible-width-field{
	-fx-pref-height: 25.0px;
}

.header{
	-fx-pref-height: 40.0px;
	-fx-background-color: white;
}

.header-espace-admin{
	-fx-pref-height: 40.0px;
	-fx-background-color: white;
	-fx-pref-width: 322.0px;
}

.text-error{
	-fx-text-fill : red;
	-fx-font-size : 10.0px;
}

.white-pane{
	-fx-background-color: white;
	-fx-border-color: #FCb31f;
	-fx-border-radius : 20.0px;
	-fx-background-radius : 22.0px;
	-fx-border-width: 3.0px;
}

.field-error{
	-fx-border-color: red;
}

.compte-table .table-row-cell {
    -fx-cell-size: 50.0px;
}

.compte-table .table-column {
  -fx-alignment: CENTER;
} 

.compte-table .scroll-bar * {
    -fx-min-width: 0.0;
    -fx-pref-width: 0.0;
    -fx-max-width: 0.0;

    -fx-min-height: 0.0;
    -fx-pref-height: 0.0;
    -fx-max-height: 0.0;
}

.table-column {
  -fx-alignment: CENTER;
} 



.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
  -fx-background-color: null;
  -fx-background-radius: 0;
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-shape: null;
 }

/*
.table-view .scroll-pane {
    -fx-hbar-policy: NEVER;
    -fx-vbar-policy: NEVER;
}
 */

